# Virtual environments
geoenv/
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data (optional)
*.csv

# Model files
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db